* {
  font-size: 10px;
}

.cor-laranja {
  color: orange;
}

.cor-laranja:hover {
  color: rgb(233, 222, 202);
}

h1,
h2 {
  color: red;
  font-size: 50px;
}

h1,
h2 {
  color: blue;
}

h1:hover {
  color: rgb(2, 59, 59);
  cursor: pointer;
}

p {
  color: green;
}

.card img {
  width: 200px;
  height: 200px;
}

#titles {
  background-color: aquamarine;
}
