/* Dessa forma aumenta o tamanho de todos os elementos do site */
/* * {
  font-size: 10px;
} */

body {
  margin: 0;
}

/* Ordem de precedência */
.cor-laranja {
  color: orange;
}

/* Sobrescreve a cor laranja ao passar o cursor */
.cor-laranja:hover {
  color: rgb(233, 222, 202);
}

/* h1,
h2 {
  color: red;
  font-size: 50px;
} */

h1,
h2 {
  color: blue;
}

/* Sobrescreve a cor azul ao passar o cursor */
h1:hover {
  color: aqua;
  cursor: pointer;
}

p {
  color: green;
}

.card img {
  width: 200px;
  height: 200px;
  border: 5px solid red;
  margin-bottom: 20px; /* borda inferior */
  /* margin: 40px 30px 20px 10px; sobrescreve a bordas em sentido horário */
  padding: 10px;
}

/* Altera a cor de fundo do elemento com o id */
/* #titles {
  background-color: aquamarine;
} */
